body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.stop-watch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 23.5rem;
}

.stop-watch-controller {
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.stopwatch-title-container {
    width: 100%;
    grid-column: 1 / 6;
    font-size: 5rem;
    text-align: center;
}

.button {
    background-color: white;
    border: 1px solid grey;
    margin: 0;
    /*width: 8rem;*/
    height: 3rem;
    border-radius: 3px;
}

.button:hover {
    box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
    border-color: rgba(0,0,0,0.8);
    transition: 0.2s;
}

.button:active {
    transform: translateY(7px);
}

#reset {
    grid-column: 3/5;
}

#time-indicator {
    transition: color 0.3s;
}

#time-indicator.pausing {
    color: rgb(234, 58, 58);
    transition: color 0.3s;
}

#stop-pause {
    grid-column: 1/3;
    transition: background-color 0.3s;
}

#stop-pause.pausing {
    background-color: rgb(171, 59, 59);
    transition: background-color 0.3s;
}

#stop-pause span {
    transition: color 0.3s;
}

#stop-pause.pausing span {
    color: white;
    transition: color 0.3s;
}